{% extends 'base.html' %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    {{ super() }}
    <br>
    <form action="{{ url_for('index') }}" method="POST" novalidate>
       {{ form.hidden_tag() }}
        {% for field in form if field.name not in ['csrf_token', 'submit'] -%}
            {{ field.label() }}
            {% if field.errors %}
                {% for e in field.errors %}
                    {{ e }}
                {% endfor %}
            {% else %}
                {{ field() }}
            {% endif %}
        {% endfor %}
        {{ form.submit() }}
    </form>

    <ul class="lst">  
        {% for task in tasks_lst %}
                <li class="task">
                    {{ task.text }}
                    <a href="{{ url_for('change', id=task.id)}}">Change</a>
                    <a href="{{ url_for('delete', id=task.id)}}">Delete</a>
                    <hr>
                </li>
        {% endfor %}
    </ul>
    <p>Hi, {{ current_user.username }}!</p>
{% endblock %}